<%- include('partials/header') -%>
<h1>Home</h1>
<p><%= homeStartingContent %></p>
<!-- <% for(let i = 0 ; i<posts.length; i++){ %>
    <h1> <%=posts[i].title  %></h1>
    <p><%= posts[i].post %> </p>
    <% } %> -->

    <!-- <% posts.map((data)=>{ %>
        <h1> <%= data.title %></h1>
        <p><%= data.post %> </p>
        <% }) %> -->
    
        <% posts.forEach((data)=>{ %>
          <% console.log(data.post.length) %>
          <%  len = data.post.length %>
          <!-- <%    if(len > 100){ %>
            <%  let part = data.post.slice(0,100)} %> -->
            <h1> <%= data.title %></h1>
            <p><%= len>100 ? data.post.slice(0,100) + '...' : data.post %><a href='/post/<%= data.title %>' >  Read more</a> </p>
            
            <% }) %>
            
<%- include('partials/footer') -%>